svg{
	overflow: visible;
}

body{
  font-family: monospace;
  margin: 0px;
  overflow: hidden;
}

h1 {
  font-family: 'Arial';
  font-size: 1.5em;
  text-align: center;
}

.axis{
  opacity: .5;
}

.line{
  fill: none;
  stroke: black;
  stroke-width: 3;
}

.area{
  fill: grey;
}

.your-line{
  stroke: green;
  stroke-width: 3;
  stroke-dasharray: 5 1;
}
